.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.5rem 10rem;
  background: transparent;
  background-color: #0d0628;
  position: relative;
  z-index: 1000;
}

@media (max-width: 768px) {
  .header-container {
    padding: 1rem 1.5rem;
  }
}
